
<div class="home">
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>AtDrive Infotech</mat-card-title>
    <mat-card-subtitle>Welcome to the assessment</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Use the button below to view the users list</p>
  </mat-card-content>
  <mat-card-actions>
    <!-- Task 4: Link which navigates the user to the userListComponent -->
    <button routerLink="/users" mat-button color="primary">Users</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
</div>

